// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@mixin transition-set1($property){
    -webkit-transition: $property 1s; 
    -moz-transition: $property 1s;
    -ms-transition: $property 1s;  
    transition: $property 1s;
}

@mixin transition-set-hs($property){
    -webkit-transition: $property 0.5s; 
    -moz-transition: $property 0.5s;
    -ms-transition: $property 0.5s;  
    transition: $property 0.5s;
}
$navbar-color: #fff;

html,body{width:100%; height:100%; margin:0; padding:0; background:black;}

div,ul{
  margin:0;
  padding: 0;
}
.navbar{
  border: none;
  box-shadow: 0px 1px 3px #DEDEDE;
}

/* universal */

body {
  background-color:#F5F5F5;
  padding-top: 60px;
}

::-webkit-scrollbar{
  display:none;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  text-align: center;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color:white;
}

/* header */

.navbar-inverse {
  background-color: $navbar-color;
}

#logo {
  float: left;
  margin-right: 60px;
  font-size: 1.7em;
  color: #fff;
  text-decoration: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
  }

}

.nav-item {
  display:block;
  float: left;
  margin-left:20px;
  font-size: 1.2em;
  color: #000;
  background-color: #FFF;
  text-decoration: none;
  letter-spacing: -1px;
  margin-top:20px;
  padding: 6px 12px;
  &:hover {
    color: #FFF;
    background-color: #000;
    text-decoration: none;
  }
  border-radius:5px;

  @include transition-set1(color);
  @include transition-set1(background-color);
}
.nav-item.active-item{
  color: #FFF;
  background-color: #000;
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  .container{
    line-height: 100%;
    margin-top: 10px;
  }
  box-shadow: 0px -1px 3px #DEDEDE;
  font-size: 12px;
  z-index: 20;
}

//home

.flicker-box{
  position: fixed;
  width: 100%;
  top:100px;
}

.sec{
  position: absolute;
  top:1000px;
  height:1000px;
  width:100%;
  margin: auto;

}
.placehod{
  height:100%;
  width:100%;
  #hold1{
    z-index: 2;
  }
}
#section1{
  //position: absolute;
  //top:1000px;
  height:1000px;
  width:100%;
  padding-top: 100px;
  margin: auto;
  background:url('/img/home/sec1.jpg') no-repeat;
  background-size: cover; 
  background-position: 0 -800px;
  z-index: 2; 
}
#section2{
  position: absolute;
  top:1800px;
  height:1000px;
  width:100%;
  margin: auto;
  background:url('/img/home/sec2.jpg');
  background-size: cover;  
  z-index:3;
}
#home-slider{
  position: fixed;
  width:100%;
  height:100%;
  top:10px;
  left: 0;
  right: 0;
  margin:0 auto;
  background: white;
}

.carousel .slide{
  width: 1200px;
  margin: auto;
  margin-top:150px;
}
.carousel-inner img{
  width:1200px;
  margin: auto;
}

.carousel-inner .item{
  width:1200px;
  margin: auto;
}
.c-container{
  position: fixed;
  top:50px;
  width:100%;
  margin: auto;
  height:100%;
  .J_banner:first-child{
    z-index:-1;
  }
}


//product
.p-header{
  width: 100%;
  height:120px;
  //background: url('/img/bg-banner.jpg');
  background: #000;
  color:white;
}
.p-wrapper{
  width:100%;
  padding-top:15px;
  background:black;
}

.p-product{
  padding-top: 20px;
  padding-bottom: 50px;
}

.clearfloat{
  clear: both;
  height: 0px;
}

.p-content{
  width:100%;
  height:900px;
  min-height:900px;
  margin:auto;
  background: black;
}

.p-header-box{
  width:80%;
  margin: auto;
  padding-top:30px;
  display:flex;
  justify-content: flex-start;
  color:white;
}

.content-list{
  &:after{
    content:"";
    height: 0;
    visibility: hidden;
    clear: both;
    display: block;
  }
  padding-bottom: 50px;
} 

.p-title-icon{
  width:5px;
  height:20px;
  margin-top:10px;
  margin-right:20px;
  background:white;
}
.p-title{
  width:300px;
}

#p-title{
  font-size:2rem;
  font-family:Roboto;
  a{
    &:link{
      color:white;
    }
    &:visited{
      color:white;
    }
  }
}

.title-divider{
  width:100%;
  height:2px;
  border:0;
  margin-left:25px;
  border-top:solid 1px #BBBBBB;
}

.p-daohang{
  width:100%;
  background-color: black;
  padding-top:20px;
}

.p-filters{
  width:1220px;
  margin:auto;
  padding-top: 20px;
  background: black;
  color:white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  hr{
    width:100%;
    margin-top:10px;
  }
  //box-shadow: 0px 1px 3px #DEDEDE;
}

.p-filter{
  display: inline-block;
  text-decoration: none;
  text-decoration-line: none;
  color:white;
  &:link{
    color:white;
  }
  &:visited{
    color:white;
  }

  &:hover{
    background:white;
    color:black;
    text-decoration: none;
  }
  margin-left:15px;
  padding-left:4px;
  padding-right: 4px;
  height:30px;
  text-align: center;
  line-height: 30px;
  font-size: 1.5rem;
  border: none;
  //background-color: rgba(255, 255, 255, 0.3);
  background: black;
}

.filter-on{
  background:white;
  color:black;
  &:link{
    color:black;
  }
  &:visited{
    color:black;
  }
  
}


.p-item{
  a {
    text-decoration:none;
    color:#BBBBBB;
  }

  background-color:white;
  width:285px;
  margin:10px;
  margin-bottom:20px;
  padding-bottom:10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #DEDEDE;
}  

.p-buttons,{
  //padding-left:25px;
  padding-left:0px;
}

.content-list{
  width:1220px;
  margin:auto;
  padding-top:20px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background: black;
}

.p-img-box{
  width:100%;
  height:280px;
}

.p-item-img{
  padding-top:20px;
  width:45%;
  margin:auto;
}

.p-img{
  max-width:60%;
  height:auto;
  margin: auto;
}

.p-item-info{
  width: 100%;
  margin: auto;
  margin-top:10px;
  color:white;
  display: flex;
  justify-content: center;
  p{
    display: inline-block;
    text-align: center;
    line-height: height;
    border-radius: 5px;
    padding: 0 5px;
    background: rgb(235, 113, 113);
  }
}

.swkd-list .item-info{
  background: #777;
}

.float-info{
  width: 15%;
  height: 500px;
  background: white;
  display: float;
  float: left;
  margin-top:200px;
  margin-left: 5px;
  border-radius: 8px;
  font-size: 2rem;
}

.info-title{
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

//About us
.wrapper-about{
  background: url('/img/bg-banner.jpg');
  height: 15%;
}


//Item

.p-detail{
  padding-top: 40px;
  width:400px;
  height: 100%;
  background: black;
  color:white;
  p{
    padding-left: 40px;
  }
  .p-name{
    font-size: 3rem;
  }
  .p-sub{
    color: #AAA;
  }
  .p-prop{
    font:bold;
  }
}


.p-gallery{
  width: 1200px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background: black;
}

div .price-list{
  width:1200px;
  margin: auto;
  background: white;
  img{
    width:1000px;
    margin: auto;
  }
}

.item-img{
  width:450px;
  height: 900px;
}

div .table-box{
  width:1100px;
  margin: auto;
  background: black;
  color:#EEE;
  .table{
    margin: auto;
    margin-bottom: 20px;
    a{
      color:#EEE;
      &:visited{
        color: white;
      }
    }
  }
  padding-bottom: 10px;
  margin-bottom: 50px;
  border-radius: 5px;
}


/* these styles are for the demo, but are not required for the plugin */
.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */


.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }


img{ border:0;}
ul,li{list-style-type:none;}
a:link,a:visited{text-decoration:none; color:#343434;}
.overhide{overflow:hidden;text-indent:-100em;}
/*位置属性*/
.marTop10{margin-top:10px;}
.left{	float:left;}
.right{	float:right;}
.clear {clear: both;}
.clearfix:after {clear: both;content: '';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
.clearfix {display: +inline-block;}

/*header*/
#header{ border-bottom:1px solid #383838; height:46px; position:relative;  line-height:46px;color:#FFFFFF; }
#header h1{font-size:12px; font-weight:normal;}
#header span{ position:absolute; right:10px; top:0px;color:#9A9A9A;font-size:12px; font-weight:normal; }
#header span a{ color:#9A9A9A; margin:0 3px;}

/*wrapper*/
#wrapper{ 
  width:700px;  
  margin-right: 10px;
}
#picSlideWrap{ 
  background:white; 
  border:1px solid #D6D9DC; 
  padding-bottom:30px;
  border-radius: 5px;
}


.imgnav{ width:450px; margin:10px auto;}
#content{margin:0px auto;  line-height:19px;}
#content p{ text-indent:2em; color:#333;}

.imgnav{  position:relative; margin:0 auto; width:600px;}
#img{
  z-index:10; 
  width:500px; 
  text-align:center;
  overflow: hidden;
  margin: auto;
}
#img img{ width:300px;height:600px; display:none;margin: auto;}
#front{ position:absolute; left:0px; top:0px; z-index:10; cursor:pointer;  width:200px; height:578px; background:url('/img/ico/blank.gif'); }
#front a{  position:absolute; left:20px; top:224px;display:block; background:url('/img/ico/imgSlideLeft.png') no-repeat; width:40px; height:40px; display:none;}
#next{  position:absolute; right:0px; top:0px; z-index:10;cursor:pointer; width:200px; height:578px;  background:url('/img/ico/blank.gif');}
#next a{  position:absolute; right:20px; top:224px; display:block; background:url('/img/ico/imgSlideRight.png') no-repeat; width:40px; height:40px; display:none;}

#cbtn{
  background:#EAEBF0; 
  position:relative; 
  height:122px; 
  border:1px solid #D6D9DC; 
  margin: auto;
  margin-top:12px; 
  width: 500px;
}

#cbtn ul{
  position:relative; 
  width:10000px; 
  height:122px;
}
#cbtn ul li{ 
  float:left; 
  padding:8px 3px 3px 3px; 
  width:43px; 
  height:86px; 
  cursor:pointer; 
  text-align:center; 
  margin-right:20px; 
  position:relative;
}
#cbtn ul li img{ width:43px; height:86px; display:block;}
#cbtn ul li tt{ background:#000; color:#FFF; position:absolute; right:4px; bottom:4px; z-index:20; font-family:"宋体" ;font-size:12px; line-height:16px; padding:0 5px;}
#cbtn li.hov img{ border:solid 1px #9A9A9A;}
.ctrl div{ clear:both;}

#cSlideUl{
  width:430px; 
  height:116px;
  overflow:hidden; 
  position:relative; 
  top:10px; 
  margin:0 auto;
}
.picSildeLeft{cursor:pointer; position:absolute; top:32px; left:10px; z-index:9;}
.picSildeRight{
  cursor:pointer; 
  position:absolute; 
  top:32px; 
  right:10px; 
  z-index:9;
}

.carousel-control.left {  
  background-image:none;  
  background-repeat: repeat-x;  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);  
}  
.carousel-control.right {  
  left: auto;  
  right: 0;  
  background-image:none;  
  background-repeat: repeat-x;  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);  
} 
